.Facebook {
    position: absolute;
    bottom: -514px;
    right: 135px;
}

.Twitter {
    position: absolute;
    bottom: -514px;
    right: 80px;
}

.Instagram {
    position: absolute;
    bottom: -514px;
    right: 25px;
}