.site-footer-main{
    background-color: #707070;
    padding-bottom: 15px;
}

.p1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 50px;
    margin: 0;
}

.p2 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 8px;
    margin: 0;
}

.p3 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 8px;
    margin: 0;
}

.p4 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 8px;
    margin: 0;
}

.p5 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 8px;
    margin: 0;
}

.p6copyright{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding-left: 40px;
    padding-top: 55px;
    margin: 0;
}

