/* Mobile style*/
.site-navigation {

    margin: auto;

}
label{
   position: absolute;
}
.site-color{
    background-color: grey;
}

.menu-items {
    margin: 0;
    list-style: none;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    margin-left: 100px;
    display: none;
    margin: auto;
}

.img1{
    position: relative;
    left: 750%;
    bottom: 50px;
}

.menu-check:checked + .menu-items{
    display: block;
    margin: auto;
}

 .site-navigation{
    background-color: #707070;
}

.menu-items li{
    padding: 30px 0;
}

.menu-items a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;;
    padding-left: 125px;
}



